<!--
<nav>
    <ul>
        <img src="{{ url_for('static', filename='images/flask.png') }}" alt="Flask logo">
        <li><a href="{{ url_for('index') }}">Boton inicio</a></li>
        <li><a href="https://www.google.com">Google</a></li>
    </ul>
</nav>-->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('index') }}">Flask Web</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{ url_for('index') }}">Inicio</a></li>
      <li><a href="https://www.google.com">Google</a></li>
    </ul>
  </div>
</nav>